extends layout

block append head
	script(src='/javascripts/tinymce.min.js')
	script(src='/javascripts/jquery.tinymce.min.js')
	script(type="application/javascript" src='/javascripts/tinymce_script.js')
		
		
block content
	h5 string one: #{stringA}
	h5 string two: #{stringB}
	h5 Diff: #{JSON.stringify(diff)}
	hr
	h5 Displaying the diff with color
	each part in diff
		-let color_class= part.added? 'bg-success': part.removed?'bg-danger':'bg-light'
		span(class=color_class) #{part.value}